<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'charitycheck/styles.css' %}">
    <title>Charity Checker</title>
</head>

<body>

    <h1>Charity Check UK</h1>

    <div class="searchcontainer">
        <form method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            <label for="charity_name">Enter Charity Name:</label>
            <input type="text" id="charity_name" name="charity_name" required>
            <button type="submit">Search</button>
        </form>
    </div>

    {% if charity_name %}
    <div class="maindiv">
        <h2>{{ charity_name }}</h2>
<h3 class="financetitle">Financial Overview:</h3>
        <div class="finances">
            <div class="inc">
                <h3>Incoming Money</h3>
                <p>Income: £{{latest_income|default:"unavailable"}}</p>
            </div>
            
            <div class="cause">
                <h3>Actual Charity Spendings</h3>
                <p>Amount spent on charitable causes: £{{exp_charitable_activities|default:"unavailable"}}</p>
                <p>Amount given to charity per pound:</p> 
                <p class="actual">£{{perpound_total|default:"unavailable"}}</p>
                <p class="warning">If it shows £1.00, it is because it's over 99p and is rounded up - Excellent charity!</p>
                <p class="warning">If it shows £0.00, it is because there is currently not enough data available</p>
            </div>
            <div class="exp">
                <h3>Outgoing Money</h3>
                <p>Expenditure: £{{latest_expenditure|default:"unavailable"}}</p>
            </div>
        </div>


        <div class="charitydetails">
            <div class="info">
                <h3>Registration Information</h3>
                <p>Registered Charity Number: {{reg_charity_number}}</p>
                <p>Status:{{reg_status}}</p>
                <p>Registered On: {{date_of_registration}}</p>
                <p>Last Updated: {{last_modified_time }}</p>
            </div>
            <img src="{% static 'charitycheck/turn.png' %}" width="180px" alt="">
            <div class="contact-info">
                <h3>Contact Information:</h3>
                <p>Address: {{address_line_one|default:"unavailable"}}</p>
                <p>Address: {{address_line_two|default:"unavailable"}}</p>
                <p>Postcode: {{address_post_code|default:"unavailable" }}</p>
                <p>Phone: {{phone|default:"unavailable"}}</p>
                <p>Email: {{email|default:"unavailable"}}</p>
                <p>Website: {{web|default:"unavailable"}}</p>
            </div>
        </div>

        {% endif %}
    </div>

</body>

</html>